<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <title>E-Commerce</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/034675bead.js" crossorigin="anonymous"></script>
        <script src="script.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

    </head>
    

    <body ng-app="myApp">
        <section id="header">
            <a href="#"><img src="Img/logo.png" width="150px" height="100px"></a>

            <div>
                <ul id="navbar">
                    <li><a href="main.html">Home</a></li>
                    <li><a class="active" href="shop.html">Shop</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    
                </ul>
            </div>
        </section>

        <section id="page-header">
            <h1>Shop</h1>
        </section>


        <div class="controller-div" ng-controller="Ctrl">
            <section id="product-1" class="section-1">
                <h2>Apparels</h2>
                <div class="pro-container">
                    <div id="product1" class="section1">
                        <div class="pro">
                            <img src="Img/Products/1.jpg">
                            <div class="des">
                                <span style="font-weight: bold;">H&M</span>
                                <h5>Green Plaid Hoodie</h5>
                                <div class="star">
                                    <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                </div>
                                <h4>$32</h4>
                            </div>
                            <a href ng-click="addToCart('product1')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
            
                    <div id="product2" class="section2">
                        <div class="pro">
                            <img src="Img/Products/2.jpg">
                            <div class="des">
                                <span style="font-weight: bold;">H&M</span>
                                <h5>Gray Hoodie</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    </div>
                                    <h4>$34</h4>
                                </div>
                                <a href ng-click="addToCart('product2')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product3" class="section3">
                            <div class="pro">
                                <img src="Img/Products/3.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Straight High Jeans</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>   
                                    </div>
                                    <h4>$28</h4>
                                </div>
                                <a href ng-click="addToCart('product3')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product4" class="section4">
                            <div class="pro">
                                <img src="Img/Products/4.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Oversized Poplin</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    
                                    </div>
                                    <h4>$37</h4>
                                </div>
                                <a href ng-click="addToCart('product4')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product5" class="section5">
                            <div class="pro">
                                <img src="Img/Products/n1.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Regular Blue</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    
                                    </div>
                                    <h4>$21</h4>
                                </div>
                                <a href ng-click="addToCart('product5')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product6" class="product6">
                            <div class="pro">
                                <img src="Img/Products/n2.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Formal Wear</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    
                                    </div>
                                    <h4>$37</h4>
                                </div>
                                <a href ng-click="addToCart('product6')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product7" class="product7">
                            <div class="pro">
                                <img src="Img/Products/n3.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Regular White</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    
                                    </div>
                                    <h4>$29</h4>
                                </div>
                                <a href ng-click="addToCart('product7')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div id="product8" class="section8">
                            <div class="pro">
                                <img src="Img/Products/n4.jpg">
                                <div class="des">
                                    <span style="font-weight: bold;">H&M</span>
                                    <h5>Summer Tee</h5>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #e3e60f;"></i>
                                    </div>
                                    <h4>$31</h4>
                                </div>
                                <a href ng-click="addToCart('product8')"><i style="color: green; position: absolute; bottom: 20px; right: 10px;" class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                    </div>
            </section>
        
            
    
            <br><br>
            <section id="cart" class="section-p1" ng-show="addedItems.length>0">
                <h2 style="text-align: center;color: brown;"><u>CART</u></h2>
                <br>
                <table width="100%" >
                    <thead>
                        <tr>
                            <td>Remove</td>
                            <td>Image</td>
                            <td>Product</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Subtotal</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cartItems">
                            <td><a href ng-click="removeItem(item)"><i class="far fa-times-circle"></i></a></td>
                            <td><img src={{item.IMG}}></td>
                            <td>{{item.NAME}}</td>
                            <td>${{item.PRICE}}</td>
                            <td>
                                <input type="number" value="1" ng-model="item.QTY" min="0" max="10" class="inp" ng-change="checkQuantity(item)">
                                <div ng-show="item.invalidQuantity" style="color: red;">Enter less than 5</div>
                            </td>

                            <td>${{item.PRICE * item.QTY}}</td>
                        </tr>
                    </tbody>                
                </table>

                <table width="100%">
                    <thead>
                        <tr>
                            <td colspan="3"><h1 style="color: brown;"><u>TOTAL</u></h1></td>
                        </tr>
                    </thead>
                    
                        <tr>
                            <td colspan="3"><button ng-click="computeTotal()" class="cmptbtn"><b>CHECKOUT</b></button> </td>
                        </tr>
                        <tr>
                            <td ng-show="total" colspan="3"><h1 style="color: brown;">YOUR TOTAL AMOUNT IS:$<u>{{subtotal}}</u></h1></td>
                        </tr>
                    
                </table>
                <br><br><br><br><br>
            </section>
        
        </div>
        <footer class="section-p1">
            <div class="column">
                <h4>Contact</h4>
                <br><br>
                <p><strong>Address: </strong> Mäster Samuelsgatan 46A, Stockholm, Sweden</p>
                <br>
                <p><strong>Phone: </strong>+1234567890</p>
                <br>
                <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
            </div>

            <div class="column">
                <h4>Shop</h4>
                <br><br>
                <a href="shop.html">Shop</a>
            </div>

            <div class="column">
                <h4>About</h4>
                <br><br>
                <a href="about.html">About</a>
            </div>

            <div class="column">
                <h4>Support</h4>
                <br><br>
                <a href="contact.html">Support</a>
            </div>

        </footer>


        <script src="script.js"></script>
        

    </body>
    
</html>